<!-- search bar -->
<div class="container center-bar">
  <div class="center-bar-outer">
    <div class="row">
      <div class="col-9 center-bar-inner">
        <form action="/search">
          <h4 class="mb-2">尋找餐廳：</h4>
          <div class="input-group">
            <input type="text" value="{{ keyword }}" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..." value="" aria-describedby="search-button">
            <div class="input-group-append">
              <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-3 d-flex justify-content-center align-items-end">
        {{!-- 預留空間 --}}
      </div>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row row-cols-4">
    {{#each restaurants}}
    <div class="col mb-5">
      <a href="/restaurant/{{ this._id }}" class="text-secondary">
        <div class="card">
          <div class="card-body px-2 pt-2">
            <img class="card-img-top" src="{{ this.image }}" alt="{{ this.name }}">
            <h5 class="card-title mt-3">{{ this.name }}</h5>
            <div class="card-text restaurant-category mt-3">
              <span>
                <i class="fas fa-utensils "></i> {{ this.category }}
              </span>
              <span class="badge bg-pill bg-danger font-weight-normal ms-2">
                {{ this.rating }}
                <i class="fas fa-star"></i>
              </span>
              <span class="ms-3">
                <a href="/restaurant/edit/{{ this._id }}"><i class="fas fa-edit"></i></a>
                <button class="btn btn-delete" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="{{ this._id }}"><i class="pointer fas fa-trash"></i></button>
              </span>
            </div>
          </div>
        </div>
      </a>
    </div>
    {{/each}}
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="deleteModalLabel">刪除警示</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        您確定要刪除這筆餐廳資料嗎?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">取消</button>
        <form action="" method="POST" name="delete_form">
          <button type="submit" class="btn btn-danger">確認</button>
        </form>
      </div>
    </div>
  </div>
</div>
